/* ---------------------------------------------- */
/* 헤더                                            */
.category-box{
  background-color: var(--color-blue-600);
  width: 110px;
  height: 116px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.button--category{
  align-items: center;
  justify-content: center;
}
.category-title{
  margin: 5px;
  font-size: 12px;
  color: var(--color-white);
  
}

/* ---------------------------------------------- */


/* ---------------------------------------------- */
/* 내비게이션                                        */

.navigation{
  border: 1px solid black;
  display: flex;
  width: 540px;
  height: 520px;
  margin: 0 auto;
  position: relative;
  justify-content: space-between;
}
.navigation-category-box-1Depth-list{
  display: flex;
  padding: 12px;
}
.category-list{
  display: flex;
  width: calc(540px/3);
  flex-direction: column;
  gap: 18px;
  font-size: 12px;
}
.navigation__inner-2Depth{
  padding: 12px;
  border-left: 1px solid rgba(170 ,169, 169, 0.3);
  border-right: 1px solid rgba(170, 169, 169, 0.3);
}
.category-inner-2Depth-list{
  display: flex;
  flex-direction: column;
  flex: 1;
  width: calc(540px/3);
  padding: 12px;
  font-size: 12px;
  gap: 18px;
}
.navigation__inner-3Depth{
  padding: 12px;
}
.category-inner-3Depth-list{
  display: flex;
  flex-direction: column;
  padding: 12px;
  width: calc(540px/3);
  flex: 1;
  font-size: 12px;
  gap: 18px;

}

.theme-list{
  display: flex;
  align-items: center;
  gap: 3px;
}

/* ---------------------------------------------- */


/* ---------------------------------------------- */
/* 메인 콘텐츠                                       */
/* ---------------------------------------------- */
/* 메인 콘텐츠 영역의 최소 높이 설정 */
.main{
  min-height: 52rem;
}


/* ---------------------------------------------- */
/* 푸터                                            */
.footer-menu-list{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-gray-200);
  color: var(--color-gray-800);
  width: 100%;
  height: 40px;
  gap: 3px;
  text-align: center;
}

.footer-menu-list .bold{
  font-weight: bold;
}
.footer-information-box{
  width: 1200px;
  margin: 0 auto;
}

.footer-information{
  display: flex;
  position: relative;
  gap: 30px;
  
}
.footer-information-logo{
  position: relative;
  top: 30px
}

.footer-coupang-information{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  gap: 5px;
  color: var(--color-gray-800);
}
.service-information.bold{
  font-weight: bold;
}
.coupang-service-center-information{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  color: var(--color-gray-800);

  gap: 5px;

}
.service-information.number{
  font-size: 48px;
  font-weight: bold;
  color: var(--color-gray-800);
}

.coupang-bank-guid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  color: var(--color-gray-800);
}
.coupang-bank-guid .bold{
  font-weight: bold;
}
.bank-guid{
  margin: 3px;
}

/* 카피라이트영역 */

.footer-coupang-copylight-box{
  background-color: var(--color-gray-900);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.copylight{
  width: 1020px;
  color: var(--color-gray-200);
  margin: 16px;
  padding: 5px;
  font-size: 12px;
  font-weight: lighter;
}
.coupang-copylight-sns{
  position: absolute;
  left: 1280px;
  bottom: 30px;
}
.instagram{
  background: radial-gradient(circle farthest-corner at 32% 106%,#ffe17d 0%,#ffcd69 10%,#fa9137 28%,#eb4141 42%,transparent 82%) , linear-gradient(135deg,#234bd7 12%,#c33cbe 58%);
  border-radius: 50%;
}

/* ---------------------------------------------- */
